# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
/android
/ios
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# Env
.env
.env.local
.env.*.local

# Logs
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS / OS
.DS_Store
Thumbs.db

# IDE
.idea/
*.iml

# Supabase local
supabase/.temp/
supabase/.branches/

# EAS
credentials.json
